body {
  background: aliceblue;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Consolas','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (prefers-reduced-motion: no-preference){
  .Ice-cream{

    width:128px;
    height: 240px;
    background-repeat: repeat-x;
  }
}

.Content{
  width:100%;
  background-color:lightgoldenrodyellow;
}

.banner{
  width:100%;
  position: fixed;
  top:0;
  background-color: black;
  color: cadetblue;
  height: 120px;
  justify-content: left;
}

.banner_title{
  font-size: 35px;
  color:cadetblue;
}


.navbar-ontop{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.Banner-header-small{
  display:flex;
  background-color: #282c34;
  max-height: 200px;
  height: calc(70px + 1vmin);
  justify-content: left;
  font-size: calc(20px + 1vmin);
  color:green;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ani{
  height:40px;
  color:yellow;
  background-color:white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(111deg);
  }
}
